
.web-container{
    font-family: "Montserrat", sans-serif;
}
.web-container nav img{
    width: 150px !important;
}
.web-container nav .nav-link{
    font-weight: 500 !important;
}
.web-container .web-body{
    background-image: url(software-developer-6521720_1920.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}
.web-container .web-body::before{
    background-color: transparent;
    background-image: rgb(32, 32, 154) ;
}