*{
    padding: 0;
    margin: 0;
}
.bg-primary{
    background: rgb(0 81 231) !important;
}

body{
    padding: 0;
    margin: 0;
}
.container-fluid{
    font-family: "Montserrat", sans-serif;
    padding: 0 !important;
}
.container-fluid nav img{
    width: 150px !important;
}
.container-fluid nav .nav-link{
    font-weight: 500 !important;
}

.main-text{
    font-size: 3.5em;
    font-weight: 700;
    padding: 15px;
}
.basic-text{
    font-size: 20px;
    font-weight: 600;
}
footer{
    height: 100px;
}
.fs-12{
    font-size: 12px;
}
.fs-14{
    font-size: 14px;
}
.fs-13{
    font-size: 13px;
}
.fs-16{
    font-size: 16px;
}
.fw-600{
    font-weight: 600;
}
.digital-transform{
    border-radius: 25px !important;
}
.service-card{
    height: 300px !important;
    border-radius: 25px !important;
    font-size: 16px;
    font-weight: 500;
}
@media (width <= 512px){
    .main-text{
        font-size: 2.5em !important;
    }
}